<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>206768417383-flpt03ccotqg0fvissraidai16inih9m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.206768417383-flpt03ccotqg0fvissraidai16inih9m</string>
	<key>API_KEY</key>
	<string>AIzaSyCeTWgMp7hHRIIEAOrV9jsHrCjJjCM5s2U</string>
	<key>GCM_SENDER_ID</key>
	<string>206768417383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.acda.dev</string>
	<key>PROJECT_ID</key>
	<string>muict-sp-acda</string>
	<key>STORAGE_BUCKET</key>
	<string>muict-sp-acda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:206768417383:ios:63792114c24af4bc7b82c2</string>
</dict>
</plist>